---
import MyComponent from "../../components/MyComponent.astro";
import BaseLayout from "../../layouts/BaseLayout.astro"

---

<BaseLayout title="Mastro | Blog">
  <div class="container">
    <div class="header">
      <h1>Blog Page</h1>
      <p>This is our blog page created with astro js.</p>
    </div>
    <a href="/">Go to the home page</a>
    <MyComponent/>
  </div>
</BaseLayout>
<style lang="scss">
  .container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;

    a {
      margin-bottom: 2rem;
      font-size: 12px;
      color: #282828;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #282828;
    margin-bottom: 1rem;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      font-weight: 300;
    }
  }
</style>