---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Mastro | Contact">
  <div class="container">
    <h1 class="title">Contact page</h1>
    <p class="desc">This is our contact page created with astro js</p>
    <a href="/">Go to the home page</a>
  </div>
</BaseLayout>

<style lang="scss">
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F5F5F5;
    color: #282828;
    
    h1.title {
      font-size: 2rem;
      font-weight: bold;
    }

    p.desc {
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }

    a {
      color: #282828;
      font-size: 12px;
    }
  }  
</style>